/**
 * TODO?
 * Add close icon when details [open] OK
 * Fix Content Alignment details border block (Test with Unicode Symbols)
 * Replace Fontawesome with Unicode Symbols https://www.toptal.com/designers/htmlarrows/symbols/
 */

/* ==========================================================================
  CSS Reset
  ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================================
  Proto Burger Menu - Details
  ========================================================================== */

details {
    summary {
        position: relative;
        width: 24px;
        height: 24px;
        
        padding: 12px 10px;
        border: 2px solid #000;
        border-radius: 4px;

        cursor: pointer;
        user-select: none;
        outline: none;

        font-size: 1rem;
        font-weight: 600;
        color: #000;
    }

    summary::before {
        position: absolute;
        top: 0;
        transform: translateX(-50%);
    }

    /* When details is closed show burder menu icon */
    summary::before {
        content: "\2630";
    }

    /* When details is open show X mark icon */
    &[open] > summary::before {
        content: "\2715";
    }

    /* Removed arrow marker */
    summary::marker {
        font-size: 0;
    }
}