/* ==========================================================================
  CSS Reset
  ========================================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==========================================================================
  Burger Menu - Input Checked
  ========================================================================== */

#menu__toggle {
    appearance: none;
}

#menu__toggle:checked ~ .menu__btn::before {
    content: "\2715"; /* X Mark Icons */
}

#menu__toggle ~ .menu__box {
    visibility: hidden;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    min-height: 100vh;
    z-index: -1;
    background-color: #e8e8ed;
}

.mobile {
    display: block;
    
    position: fixed;
    top: -15px;
    left: 0;
    
    width: 100%;
    height: 40px;
    
    cursor: pointer;
}

.menu__btn {
    display: block;
    
    position: relative;
    width: 40px;
    height: 100%;
    margin: 20px;
    
    border: 2px solid #161617;
    border-radius: 10px;

    /* font-size: 1rem; */
    font-weight: 600;
    color: #161617;

    cursor: pointer;
}

.menu__btn::before {
    content: "\2630"; /* Bars Icons */
    
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__box {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    height: 0;
    border: 0;
    margin-top: -84px; /* height + margin(top & bottom) + border */
    overflow: hidden;

    list-style: none;
}

.menu__box li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #0066cc;
}

.menu__box li a:hover {
    color: #2997ff;
}